p{
    color:#3eb5df;
}
#menu ul{

    background-color: #6fc3df;
    list-style-type: none;
    text-align: center; 
    overflow: hidden;
    width: 100%;
    margin-top: -15px;
    display:flex ;
    justify-content: flex-start ; 
}
#menu li{
    
    color:#333;
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    padding: 10px;

}
#menu a:hover{
    color: cornsilk;
}
#menu a{
    text-decoration: none;
    color: black;
}
.title{
    text-align: center;
    color:#2dd1f6;
}

.form{
    width: 48%;
    border: 1px solid gray;
    display: inline-block;
    margin-left: 20px;
    float: left;
}

.input{
    display: flex;
    margin-top: 4px;
    padding-left: 10px;
    
}
.input label{
    width: 200px;
    margin-left: 0%;
    
}
.input input{
    padding: 7px 185px;
    border-radius: 7px;
    border-color: rgb(189, 186, 186);
}
.input :hover{
    border-color: black;
}
h4{
    color: white;
    background-color: #43d0f2;
    display: block;
    height: 35px;
    line-height: 32px;
    margin-top: 0px;
    font-weight: bold;
    padding-left: 10px;
}
h3{
    margin-top: -10px;
}
.required::after{
    content: "*";
    color: red;
}
#submit{
    margin-left: 45%;
    margin-top: 30px;
    
}
.reset{
    margin-left: 51%;
    margin-top: -22px; 
}



